*{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(41, 39, 39);
    height: 100px;
    color: white;
    padding-top: 50px;
}

#navbuttons a{
    text-decoration: none;
    color:white;
    padding-left: 150px;
    font-size: 25px;
}

#nameheading{
    display: inline;
    padding-left: 100px;
}

#navname{
    display: inline;
}
#navbuttons{
    display: inline;
    margin-left: 130px;
}
